
body, html {
  height: 100%;
  font: 400 15px/1.8 "Lato", sans-serif;
}

.navbar-default {
  background-color: #125f0c;
  border-radius: 0;
  background-image: none;
}
.navbar-default .navbar-brand {
   color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: wheat;
}

.navbar-default .navbar-nav>li>a
{
	color: white;
}

footer {
    position: fixed;
    height: 25px;
    bottom: 0;
    width: 100%;
	/* background-color: #1f631d; */
	background-color: rgba(18, 95, 12, 1);
	/* color: #ccc */
	color: white
}

.carousel-inner>.item>a>img, 
.carousel-inner>.item>img, 
.img-responsive, .thumbnail a>img, .thumbnail>img {
    display: inline;
}

@media (min-width: 100px) {  
  .navbar-brand {font-size:13px;} 
}
@media (min-width: 400px) {  
  .navbar-brand {font-size:18px;} 
}

.page-header {
  padding-top: 10px;
}

/* .col-md-1, .col-md-9 {
  border-color: #ebd122;
  border-width: 2px;
  background-color: #f7f1fa;
} */

.bg { 
  background-image: url("../assets/background.jpg");
  height: 100%; /* Full height */
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#experiencebkgrd {
	background-color: #c2c4c2;
}

#logo {
  position: absolute;
  left: 0;
  top: 18%;
  width: 100%;
  text-align: center;
  color: #000;
}
#bgtext {
  position: absolute;
  left: 0;
  top: 65%;
  width: 100%;
  text-align: center;
  color: #000;
}

#bgtext span.border {
  /* background-color: #111; */
  color: #fff;
/*   padding: 18px; */
  font-size: 40px;
  letter-spacing: 10px;
}

body {
  padding-top: 50px;
  /*font-family: 'Georgia', serif;*/
  /*background-color: #f7f1fa;*/
  /* color: #242424; */
}

.portfolio-thumbnail {
  background-color: #fff;
  border-color: #000000;
  border-width: 2px;
  width: 95%;
}

.portfolio-thumbnail:hover {
  border-color: #848484;
}

.portfolio-title {
  font-weight: bold;
}	

.imgshadow {
	box-shadow: 5px 5px 7px 1px black;
}
